<div class="post-preview">
    <a href="#">
        <h2 class="post-title">Lorem Ipsum</h2>
        <h3 class="post-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a tempor magna, eu semper diam.</h3>
    </a>
    <p class="post-meta">Posté par&nbsp;<a href="#">Alice</a>, le 19 mars 2021</p>
</div>
<hr>
<div class="post-preview">
    <a href="#">
        <h2 class="post-title">Lorem Ipsum</h2>
        <h3 class="post-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a tempor magna, eu semper diam.</h3>
    </a>
    <p class="post-meta">Posté par&nbsp;<a href="#">Alice</a>, le 19 mars 2021</p>
</div>
<hr>
<div class="post-preview">
    <a href="#">
        <h2 class="post-title">Lorem Ipsum</h2>
        <h3 class="post-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a tempor magna, eu semper diam.</h3>
    </a>
    <p class="post-meta">Posté par&nbsp;<a href="#">Alice</a>, le 19 mars 2021</p>
</div>
<hr>
<div class="post-preview">
    <a href="#">
        <h2 class="post-title">Lorem Ipsum</h2>
        <h3 class="post-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a tempor magna, eu semper diam.</h3>
    </a>
    <p class="post-meta">Posté par&nbsp;<a href="#">Alice</a>, le 19 mars 2021</p>
</div>
<hr>
<div class="clearfix"><button class="btn btn-secondary float-right" type="button">Anciens&nbsp;⇒</button></div>
