<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand" href="/">TopFilms</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Classements</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Films</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Compte</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" style="background-color: black;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="site-heading">
                    <h1>TopFilms</h1><span class="subheading">LE site pour découvrir le cinéma</span>
                </div>
            </div>
        </div>
    </div>
</header>