<header class="masthead" style="background-image: url('/assets/images/background.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="site-heading">
                    <h1>Les films</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-3" *ngFor="let film of films">
            <a [routerLink]="['/films', film.id]">
                <img src="{{film.imageUrl}}" class="rounded w-100" style="height: 364px;" alt="Poster de {{film.titre}}" />
                <p class="text-center">{{film.titre}}</p>
            </a>
        </div>
    </div>
</div>