body, html {
  min-width: 320px;
}
a {
  color: #212529;
  transition: all 0.2s;
}
a:focus,
a:hover {
  opacity: 0.5;
  color: inherit;
  text-decoration: none;
}
#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: #fff;
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  min-width: 320px;
}
#mainNav .navbar-brand {
  font-weight: 800;
}
#mainNav .navbar-toggler {
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
}
#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: hsla(0, 0%, 100%, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus,
  #mainNav .navbar-nav > li.nav-item > a:hover {
    color: hsla(0, 0%, 100%, 0.8);
  }
}
@media only screen and (min-width: 768px) {
  #mainNav {
    transition: background-color 0.2s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  #mainNav.is-fixed {
    position: fixed;
    top: -67px;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    border-bottom: 1px solid #fff;
    background-color: hsla(0, 0%, 100%, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus,
  #mainNav.is-fixed .navbar-brand:hover {
    color: #212529;
    opacity: 0.5;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus,
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #212529;
    opacity: 0.5;
  }
  #mainNav.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
header.masthead {
  margin-bottom: 50px;
  background: no-repeat 50%;
  background-color: #6c757d;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}
header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: #fff;
}
header.masthead .home-site-heading {
  padding: 172px 0 150px;
}
@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
  header.masthead .home-site-heading {
    padding: 186px 0;
  }
}
header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}
header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}
header.masthead .post-heading h1 {
  font-size: 35px;
}
header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}
header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: Lora, Times New Roman, serif;
}
header.masthead .post-heading .meta a {
  color: #fff;
}
@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}
.post-preview > a {
  color: #212529;
}
.post-preview > a:focus,
.post-preview > a:hover {
  text-decoration: none;
  color: #6c757d;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}
.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #6c757d;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}
