<header class="masthead" style="background-image: url('/assets/images/background.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="site-heading">
                    <h1>TopFilms</h1><span class="subheading">LE site pour découvrir le cinéma</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <app-content></app-content>
        </div>
        <div class="col">
            <app-sidebar></app-sidebar>
        </div>
    </div>
</div>